.layoutContainer {
    margin: 60px;
    background-color: $dark_blue;
    box-shadow: 0 0px 1rem $box_shadow;
    padding-left: 0;
    border-radius: 30px;
    transition: all .4s ease 0s;
    display: flex;
    position: relative;
    height: 85vh;
    @include media-breakpoint-down(md){
        margin: 10px;
    }
}

.dash_content{
    height: 80vh;
    overflow: hidden;
}

.schedule{
    background-color: $white;
    border-radius: 20px;
    padding: 30px 0px 0px;
    .shdlFlex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px 15px;
        .content{
            .title{
                font-weight: 500;
                margin-bottom: 0;
            }
            p{
                color: $tag_color;
                font-weight: 500;
            }
        }
    }
    .shdlBtn{
        background-color: #4654e4;
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        padding: 12px 24px;
        border-radius: 4px;
    }
}


.searchWrap {
    display: inline-flex;
    align-items: center;
    border: 1px solid $off_blue;
    border-radius: 50px;
    background-color: $off_blue;
    overflow: hidden;
    padding: 10px 15px;
    margin-bottom: 20px;

    input {
        background: $off_blue;
        border: none;
        outline: none;
        color: #505d90;
    }
}

.searchIcon {
    color: #505d90;
    margin-right: 15px;
    font-size: 18px;
}

.flexBar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    @include media-breakpoint-down(md){
        flex-direction: column;
        align-items: flex-start;
    }

    .leftBar{
        @include media-breakpoint-down(md){
            margin-bottom: 10px;
        }
    }

    .title {
        color: $white;
        margin-bottom: 0;
    }

    .smallText {
        color: $white;
        margin-bottom: 0;
    }

    .search {
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        border: 1px solid #1d235a;
        border-radius: 8px;

        input {
            background-color: transparent;
            border: none;
            box-shadow: none;
            outline: none;
            width: 100%;
            display: block;
            padding: 15px 15px;
            font: inherit;
            border-radius: 0.3rem;
            color: $white;
        }

        .searchIcon {
            color: $white;
        }
    }
}