.form_layout{
    background: $black;
    max-width: 1400px;
    border-radius: 16px;
    .auth_form{
        color: $white;
        padding: 5rem 2rem;
        min-height: 704px;
        display: flex;
        align-items: center;
        .form_content{
            height: 100%;
            display: flex;
            align-items: center;
            .form_left{
                max-width: 600px;
                margin: 0 auto;
            }
            .form_right{
                max-width: 600px;
            }
        }
    }
}